package header

templ Header(){
    <header class="h-16 fixed top-0 left-0 right-0 bg-white z-50 border-b-2 border-black border-solid">
        <div class="flex flex-row justify-between p-4 border-box">
            <a 
                href="/location"
                class="flex flex-row">
                <span class="font-[950] text-4xl text-yellow-400">SAY</span>
                <span class="font-[950] text-4xl text-green-700">WUB</span>
            </a>
        </div>
    </header>
}